<header class="header" data-element="header">

	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<img src="img/logo.svg" alt="site logo">
			</a>

			<div class="menu">
				<div class="menu-scroll">

					<nav class="header__nav">
						<ul>
							<li><a href="/">Разведка&nbsp;местности</a></li>
							<li><a href="/">Очистка&nbsp;местности&nbsp;от&nbsp;ВОП</a></li>
							<li><a href="/">Инженерно-саперное&nbsp;сопровождение</a></li>
							<li><a href="/">О&nbsp;компании</a></li>
							<li><a href="/">Контакты</a></li>
						</ul>
					</nav>

					<div class="header__contacts">
						<a href="tel:+79610614060">
							+7 961 061 40 60
						</a>
						<a href="mailto:19864060@mail.ru">
							19864060@mail.ru
						</a>
					</div>

					<a href="" class="button header__button">
						Оставить заявку
					</a>

				</div>
			</div>
		</div>
	</div>

</header>


